::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #ffe9df;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #ffc7b2, #ffb099);
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(255, 140, 100, 0.4);
  animation: peachPulse 3s ease-in-out infinite;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #ffb099, #ff987e);
  transform: scaleX(1.2);
  box-shadow: 0 0 12px rgba(255, 128, 90, 0.7);
}